<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Client Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 50%;
            width: 50%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 80%;
            margin: 0;
            padding: 0;
        }
    </style>

</head>

<body>
<div class="container">

    <br/>
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger " name="registration"
                type="Submit">Logout
        </button>

    </form>



    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
        </div>
    </div>





    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-body">
                <p class="admin-message-text text-right" th:utext="${tokenCount}"></p>
                <h4 class="admin-message-text text-left">Current meals available:</h4>

                <form action="#" th:action="@{/client/home}" method="post" class="admin-message-text text-left">
                    <th:block th:each="liveMeals : ${liveMealsList}">
                        <input type="checkbox" name="pickedFood" id="pickedFood" th:value="${liveMeals.itemName}">
                        <label for="pickedFood"
                               th:text="${liveMeals.itemName} + ' | Type: ' + ${liveMeals.pickupType}" ></label>
                        <br/>
                        <hr/>
                    </th:block>
                    <input class="btn btn-primary" type="submit" name="submitPickedFood" value="Order">
                    <br/>
                </form>

                <br/>

                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9579.898501199166!2d-84.39961652379745!3d33.75288164815303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x16d527c711f12892!2sSubway!5e0!3m2!1sen!2sus!4v1587368347557!5m2!1sen!2sus" width="1110" height="450" frameborder="2px" style="border:1px double darkblue;"  allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>

            </div>
        </div>
    </div>




</div>

<!--google maps api-->
<!--<div id="map" class="container ">-->
<!--<script>-->

<!--    var map, infoWindow;-->
<!--    function initMap() {-->
<!--        map = new google.maps.Map(document.getElementById('map'), {-->
<!--            center: {lat: -34.397, lng: 150.644},-->
<!--            zoom: 16-->
<!--        });-->
<!--        infoWindow = new google.maps.InfoWindow;-->

<!--        // Try HTML5 geolocation.-->
<!--        if (navigator.geolocation) {-->
<!--            navigator.geolocation.getCurrentPosition(function(position) {-->
<!--                var pos = {-->
<!--                    lat: 33.740620,-->
<!--                    lng: -84.417250-->
<!--                };-->

<!--                infoWindow.setPosition(pos);-->
<!--                infoWindow.setContent('Your location');-->
<!--                infoWindow.open(map);-->
<!--                map.setCenter(pos);-->
<!--            }, function() {-->
<!--                handleLocationError(true, infoWindow, map.getCenter());-->
<!--            });-->
<!--        } else {-->
<!--            // Browser doesn't support Geolocation-->
<!--            handleLocationError(false, infoWindow, map.getCenter());-->
<!--        }-->
<!--    }-->

<!--    function handleLocationError(browserHasGeolocation, infoWindow, pos) {-->
<!--        infoWindow.setPosition(pos);-->
<!--        infoWindow.setContent(browserHasGeolocation ?-->
<!--            'Error: The Geolocation service failed.' :-->
<!--            'Error: Your browser doesn\'t support geolocation.');-->
<!--        infoWindow.open(map);-->
<!--    }-->
<!--</script>-->
<!--<script async defer-->
<!--        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCtQhbOVwxZh7eTZKhuDN_25ZqW-dyYT8&callback=initMap">-->
<!--</script>-->

<!--</div>-->



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>




<div class="footer">
    <p>Copyright &copy; 2020 | Feedpons </p>
</div>
</body>
</html>