<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Restaurant Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<div class="container">

    <br/>
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group container" style="margin-top:40px">
        <div class="panel panel-primary container">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">

            </div>
            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>


            <!--        <ul>-->
            <!--            <li th:each="activeMeal : ${activeMeals}" th:text="${activeMeal.itemName}"></li>-->
            <!--        </ul>-->

            <!--            <form action="#" th:action="@{/restaurant/home}" method="post">-->
            <!--                <th:block th:each="activeMeal : ${activeMeals}">-->
            <!--                    <input type="checkbox" name="selectedActive" id="selectedActive" th:value="${activeMeal.itemName}"/>-->
            <!--                    <label th:text="${activeMeal.itemName}"></label>-->
            <!--                    <br/>-->
            <!--                </th:block>-->
            <!--                     <input type="submit" name="selectedActive" />-->
            <!--            </form>-->


            <h4>Order Queue:</h4>
            <form action="#" th:action="@{/restaurant/home}" method="post">
                <th:block th:each="activeMeal : ${activeMeals} ">
                    <label for="selectedActive">
                        <input type="checkbox" name="selectedActive" id="selectedActive"
                               th:value="${activeMeal.itemName}"
                               th:text="${activeMeal.itemName}"/>
                    </label>
                    <hr/>
                </th:block>

                <input type="radio" id="dinein" name="pickupType" value="Dine-In" required>
                <label for="dinein">Dine In</label><br>
                <input type="radio" id="pickup" name="pickupType" value="Pickup" required>
                <label for="pickUp">Pick Up</label><br>
                <input type="radio" id="delivery" name="pickupType" value="Delivery" required>
                <label for="delivery">Delivery</label>
                <br/>
                <hr/>


                <label for="livetime">Food Go Live at:</label>
                <input type="datetime-local" id="livetime" name="livetime" value="">
                <br/>
                <hr/>

                <input class="btn btn-primary" type="submit" name="submitSelectedActive">
            </form>


            <br/>
            <br/>



            <h4>Live Order:</h4>
            <ul >
                <li class="p-3 mb-2 bg-info text-white" th:each="liveMeals : ${liveMealsList}"
                    th:text="${liveMeals.itemName} +
                    ' | Type: ' + ${liveMeals.pickupType} +
                    ' | Status: ' + ${liveMeals.status}">
                </li>
            </ul>



            <br/>
            <br/>
        </div>
    </div>








</div>




<div class="footer">
    <p>Copyright &copy; 2020 | Feedpons </p>
</div>
</body>
</html>