<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Restaurant Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
<div class="container">

    <br/>
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group container" style="margin-top:40px">
        <div class="panel panel-primary container">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div class="panel-body">

            </div>
            <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
            <h4>Order Queue:</h4>


<!--        <ul>-->
<!--            <li th:each="activeMeal : ${activeMeals}" th:text="${activeMeal.itemName}"></li>-->
<!--        </ul>-->

<!--            <form action="#" th:action="@{/restaurant/home}" method="post">-->
<!--                <th:block th:each="activeMeal : ${activeMeals}">-->
<!--                    <input type="checkbox" name="selectedActive" id="selectedActive" th:value="${activeMeal.itemName}"/>-->
<!--                    <label th:text="${activeMeal.itemName}"></label>-->
<!--                    <br/>-->
<!--                </th:block>-->
<!--                     <input type="submit" name="selectedActive" />-->
<!--            </form>-->

            <form action="#" th:action="@{/restaurant/home}" method="post">
                <th:block th:each="activeMeal : ${activeMeals}">
                    <label for="selectedActive"></label><input type="checkbox" name="selectedActive" id="selectedActive" th:value="${activeMeal.itemName}">
                    <label th:text="${activeMeal.itemName}"></label>
                    <br/>
                    <hr/>
                </th:block>
                <input type="submit" name="submitSelectedActive">
            </form>

<!--            <label>-->
<!--                <select>-->
<!--                    <option>Choose the meal</option>-->
<!--                    <option th:each="activeMeal : ${activeMeals}" th:text="${activeMeal.itemName}" ></option>-->
<!--                </select>-->
<!--            </label>-->
            <br/>


            <label for="livetime">Food Go Live at:</label>
            <input type="datetime-local" id="livetime" name="livetime">
            <br/>

            <input type="radio" id="dinein" name="pickType" value="dinein">
            <label for="dinein">Dine In</label><br>
            <input type="radio" id="pickup" name="pickType" value="pickup">
            <label for="pickUp">Pick Up</label><br>
            <input type="radio" id="delivery" name="pickType" value="delivery">
            <label for="delivery">Delivery</label>
            <br/>

            <form action="#" th:action="@{/restaurant/home}" method="post">
                <button type="submit">Set</button>
            </form>


            <h4>Live Order:</h4>
            <ul>
                <li th:each="liveMeals : ${liveMealsList}" th:text="${liveMeals.itemName}"></li>
            </ul>



            <br/>
            <br/>
        </div>
    </div>








</div>




<div class="footer">
    <p>Copyright &copy; 2020 | Feedpons </p>
</div>
</body>
</html>